<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<div class="container">
  <h1>Zarejestruj się</h1>
  <form class="row g-3" action="#" th:action="@{signup}" th:object="${register}" method="POST">
    <div class="form-group">
      <div class="col-6">
        <label>Imię: </label>
        <input class="form-control"
               type="text"
               th:field="*{firstName}"
               id="firstName"
               placeholder="Imię użytkownika"
        >
      </div>
      <div class="col-6">
        <label>Nazwisko: </label>
        <input class="form-control"
               type="text"
               th:field="*{lastName}"
               id="plastName"
               placeholder="Nazwisko użytkownika"
        >
      </div>
      <div class="col-6">
        <label>Nazwa użytkownika: </label>
        <input class="form-control"
               type="text"
               th:field="*{username}"
               id="username"
               placeholder="Nazwa użytkownika"
        >
      </div>
      <div class="col-6">
        <label>E-mail: </label>
        <input class="form-control"
               type="email"
               th:field="*{email}"
               id="email"
               placeholder="E-mail użytkownika"
        >
      </div>
      <div class="col-6">
        <label>Hasło: </label>
        <input class="form-control"
               type="password"
               th:field="*{password}"
               id="password"
               placeholder="Hasło użytkownika"
        >
      </div>
      <div class="col-6">
        <label>Powtórz hasło: </label>
        <input class="form-control"
               type="password"
               th:field="*{passwordRepeat}"
               id="passwordRepeat"
               placeholder="Powtórz hasło użytkownika"
        >
      </div>
      <div class="col-6">
        <label>Role: </label>
        <select th:field="*{role}" class="form-control" id="role">
          <option value="USER">User</option>
          <option value="ADMIN">Admin</option>
        </select>
      </div>
      <div th:if="${passwordMismatch}" class="alert alert-danger">
        <p>Hasła nie są identyczne</p>
      </div>
      <div th:if="${signupError}" class="alert alert-danger">
        <p th:text="${signupError}"></p>
      </div>
      <div>
      <button type="submit" class="btn btn-outline-success">
        <i class="bi bi-plus-square-fill"></i> Zarejestruj
      </button>
        <a class="btn btn-outline-success" th:href="@{/auth/signin}">
          lub zaloguj się
        </a>
      </div>
    </div>
  </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>